{% extends 'Base.html' %}
{% load static %}
{% block content%}
<div>
    {% if 'valido' in request.GET %}
        <p style="color: white;">Información completada correctamente</p>
    {% endif %}
    {% if 'novalido' in request.GET %}
        <p style="color: white;">Información incompleta</p>
    {% endif %}

    {% if error_message %}
        <p style="color: red;">Error al enviar correo: {{ error_message }}</p>
    {% endif %}

    <form action="" method="POST" style="text-align: center;">
        {% csrf_token %}
        <table style="color: white; margin: 20px auto;">{{ miformulario.as_table }}</table>
        <input type="submit" value="Enviar" style="width: 150px;">
    </form>
</div>
{% endblock %}
